In [1]:
import pandas as pd
df = pd.read_csv('us-500.csv')
for col in list(df):
    print('Max length of ' + col + ': ' + str(len(max(map(str, df[col].tolist()), key=len))))

Max length of first_name: 10
Max length of last_name: 13
Max length of company_name: 30
Max length of address: 31
Max length of city: 19
Max length of county: 20
Max length of state: 2
Max length of zip: 5
Max length of phone1: 12
Max length of phone2: 12
Max length of email: 34
Max length of web: 42

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.7/site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from mysql-connector-python) (3.19.1)

In [3]:
!mysql < create_table.sql

In [4]:
!mysql load_testing -e 'show tables'

+------------------------+
| Tables_in_load_testing |
+------------------------+
| Person                 |
+------------------------+

In [5]:
!mysql load_testing -e 'desc Person'

+--------------+-------------+------+-----+---------+----------------+
| Field        | Type        | Null | Key | Default | Extra          |
+--------------+-------------+------+-----+---------+----------------+
| id           | mediumint   | NO   | PRI | NULL    | auto_increment |
| first_name   | varchar(20) | YES  |     | NULL    |                |
| last_name    | varchar(23) | YES  |     | NULL    |                |
| company_name | varchar(40) | YES  |     | NULL    |                |
| address      | varchar(41) | YES  |     | NULL    |                |
| city         | varchar(29) | YES  |     | NULL    |                |
| county       | varchar(30) | YES  |     | NULL    |                |
| state        | char(2)     | YES  |     | NULL    |                |
| zip_code     | char(5)     | YES  |     | NULL    |                |
| phone_one    | char(12)    | YES  |     | NULL    |                |
| phone_two    | char(12)    | YES  |     | NULL    |                |
| email        | varchar(44) | YES  |     | NULL    |                |
| web          | varchar(52) | YES  |     | NULL    |                |
+--------------+-------------+------+-----+---------+----------------+

In [6]:
import mysql.connector
connection = mysql.connector.connect(
  host="10.128.0.3",
  user="root",
  password="vangar",
  database="load_testing",
  autocommit=False
)

cursor = connection.cursor()
cursor.execute('TRUNCATE TABLE Person')
cursor.close()

True

In [ ]:
%%timeit

import mysql.connector
import pandas as pd
import csv



connection = mysql.connector.connect(
  host="10.128.0.3",
  user="root",
  password="vangar",
  database="load_testing",
  autocommit=False
)

print(connection)


sql = "INSERT INTO Person (first_name, last_name, company_name, address, city, county, state, zip_code, phone_one, phone_two, email, web)\
	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"


try:
    with open('us-1000000.csv', newline = '') as read_obj:
        csv_reader = csv.reader(read_obj)
        columns = next(csv_reader)
        rows = [tuple(row) for row in csv_reader]
        value = 0
        with connection.cursor() as cursor:
            for row in rows:
                value += 1
                cursor.execute(sql, row)
                if value % 5000 == 0:
                    connection.commit()
                    print(str(value) + ' records inserted successfully into Person table')
    
except mysql.connector.Error as error:
    print("Failed to insert record into Person table {}".format(error))

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fdf01f70890>
5000 records inserted successfully into Person table
10000 records inserted successfully into Person table
15000 records inserted successfully into Person table
20000 records inserted successfully into Person table
25000 records inserted successfully into Person table
30000 records inserted successfully into Person table
35000 records inserted successfully into Person table
40000 records inserted successfully into Person table
45000 records inserted successfully into Person table
50000 records inserted successfully into Person table
55000 records inserted successfully into Person table
60000 records inserted successfully into Person table
65000 records inserted successfully into Person table
70000 records inserted successfully into Person table
75000 records inserted successfully into Person table
80000 records inserted successfully into Person table
85000 records inserted successfully into Person table
90000 records inserted successfully into Person table
95000 records inserted successfully into Person table
100000 records inserted successfully into Person table
105000 records inserted successfully into Person table
110000 records inserted successfully into Person table
115000 records inserted successfully into Person table
120000 records inserted successfully into Person table
125000 records inserted successfully into Person table
130000 records inserted successfully into Person table
135000 records inserted successfully into Person table
140000 records inserted successfully into Person table
145000 records inserted successfully into Person table
150000 records inserted successfully into Person table
155000 records inserted successfully into Person table
160000 records inserted successfully into Person table
165000 records inserted successfully into Person table
170000 records inserted successfully into Person table
175000 records inserted successfully into Person table
180000 records inserted successfully into Person table
185000 records inserted successfully into Person table
190000 records inserted successfully into Person table
195000 records inserted successfully into Person table
200000 records inserted successfully into Person table
205000 records inserted successfully into Person table
210000 records inserted successfully into Person table
215000 records inserted successfully into Person table
220000 records inserted successfully into Person table
225000 records inserted successfully into Person table
230000 records inserted successfully into Person table
235000 records inserted successfully into Person table
240000 records inserted successfully into Person table
245000 records inserted successfully into Person table
250000 records inserted successfully into Person table