In [7]:
%env INSTANCE=mysql

env: INSTANCE=mysql

In [8]:
!gsutil cp gs://cs327e-open-access/sakila.zip .

Copying gs://cs327e-open-access/sakila.zip...
/ [1 files][786.4 KiB/786.4 KiB]
Operation completed over 1 objects/786.4 KiB.

In [ ]:
!unzip sakila.zip

Archive:  sakila.zip
replace sakila/.DS_Store? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [ ]:
!mysql < /home/jupyter/sakila/sakila-data.sql

In [ ]:
!mysql sakila -e "show tables"

In [ ]:
!mysql sakila -e "select count(*) from actor"

In [ ]:
!mysql sakila -e "select count(*) from actor_info"

In [21]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [22]:
!mysql sakila -e "select count(*) from category"

+----------+
| count(*) |
+----------+
|       16 |
+----------+

In [23]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [24]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [25]:
!mysql sakila -e "select count(*) from customer"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [26]:
!mysql sakila -e "select count(*) from customer_list"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [27]:
!mysql sakila -e "select count(*) from film"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [28]:
!mysql sakila -e "select count(*) from film_actor"

+----------+
| count(*) |
+----------+
|     5462 |
+----------+

In [29]:
!mysql sakila -e "select count(*) from film_category"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [30]:
!mysql sakila -e "select count(*) from film_list"

+----------+
| count(*) |
+----------+
|      997 |
+----------+

In [31]:
!mysql sakila -e "select count(*) from film_text"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [32]:
!mysql sakila -e "select count(*) from inventory"

+----------+
| count(*) |
+----------+
|     4581 |
+----------+

In [33]:
!mysql sakila -e "select count(*) from language"

+----------+
| count(*) |
+----------+
|        6 |
+----------+

In [34]:
!mysql sakila -e "select count(*) from nicer_but_slower_film_list"

+----------+
| count(*) |
+----------+
|      997 |
+----------+

In [ ]:
!mysql sakila -e "select count(*) from payment"

In [ ]:
!mysql sakila -e "select count(*) from rental"

In [ ]:
!mysql sakila -e "select count(*) from sales_by_film_category"

In [ ]:
!mysql sakila -e "select count(*) from sales_by_store"

In [ ]:
!mysql sakila -e "select count(*) from staff"

In [ ]:
!mysql sakila -e "select count(*) from staff_list"

In [ ]:
!mysql sakila -e "select count(*) from store"

In [ ]:
!mysql sakila -e "desc actor"

In [ ]:
!mysql sakila -e "select * from actor limit 6"

In [ ]:
!mysql sakila -e "desc actor_info"

In [ ]:
!mysql sakila -e "select * from actor_info limit 1"

In [12]:
!mysql sakila -e "desc address"

+-------------+----------------------+------+-----+-------------------+-----------------------------------------------+
| Field       | Type                 | Null | Key | Default           | Extra                                         |
+-------------+----------------------+------+-----+-------------------+-----------------------------------------------+
| address_id  | smallint(5) unsigned | NO   | PRI | NULL              | auto_increment                                |
| address     | varchar(50)          | NO   |     | NULL              |                                               |
| address2    | varchar(50)          | YES  |     | NULL              |                                               |
| district    | varchar(20)          | NO   |     | NULL              |                                               |
| city_id     | smallint(5) unsigned | NO   | MUL | NULL              |                                               |
| postal_code | varchar(10)          | YES  |     | NULL              |                                               |
| phone       | varchar(20)          | NO   |     | NULL              |                                               |
| location    | geometry             | NO   | MUL | NULL              |                                               |
| last_update | timestamp            | NO   |     | CURRENT_TIMESTAMP | DEFAULT_GENERATED on update CURRENT_TIMESTAMP |
+-------------+----------------------+------+-----+-------------------+-----------------------------------------------+

In [16]:
!mysql sakila -e "select address_id, address, address2, district, city_id, phone, last_update from address limit 4"

+------------+----------------------+----------+----------+---------+-------------+---------------------+
| address_id | address              | address2 | district | city_id | phone       | last_update         |
+------------+----------------------+----------+----------+---------+-------------+---------------------+
|          1 | 47 MySakila Drive    | NULL     | Alberta  |     300 |             | 2014-09-25 22:30:27 |
|          2 | 28 MySQL Boulevard   | NULL     | QLD      |     576 |             | 2014-09-25 22:30:09 |
|          3 | 23 Workhaven Lane    | NULL     | Alberta  |     300 | 14033335568 | 2014-09-25 22:30:27 |
|          4 | 1411 Lillydale Drive | NULL     | QLD      |     576 | 6172235589  | 2014-09-25 22:30:09 |
+------------+----------------------+----------+----------+---------+-------------+---------------------+

In [48]:
!mysql sakila -e "select * from category limit 5"

+-------------+-----------+---------------------+
| category_id | name      | last_update         |
+-------------+-----------+---------------------+
|           1 | Action    | 2006-02-15 04:46:27 |
|           2 | Animation | 2006-02-15 04:46:27 |
|           3 | Children  | 2006-02-15 04:46:27 |
|           4 | Classics  | 2006-02-15 04:46:27 |
|           5 | Comedy    | 2006-02-15 04:46:27 |
+-------------+-----------+---------------------+

In [1]:
!mysql sakila -e "select * from city limit 4"

+---------+--------------------+------------+---------------------+
| city_id | city               | country_id | last_update         |
+---------+--------------------+------------+---------------------+
|       1 | A Corua (La Corua) |         87 | 2006-02-15 04:45:25 |
|       2 | Abha               |         82 | 2006-02-15 04:45:25 |
|       3 | Abu Dhabi          |        101 | 2006-02-15 04:45:25 |
|       4 | Acua               |         60 | 2006-02-15 04:45:25 |
+---------+--------------------+------------+---------------------+

In [2]:
!mysql sakila -e "select * from country limit 4"

+------------+----------------+---------------------+
| country_id | country        | last_update         |
+------------+----------------+---------------------+
|          1 | Afghanistan    | 2006-02-15 04:44:00 |
|          2 | Algeria        | 2006-02-15 04:44:00 |
|          3 | American Samoa | 2006-02-15 04:44:00 |
|          4 | Angola         | 2006-02-15 04:44:00 |
+------------+----------------+---------------------+

In [3]:
!mysql sakila -e "select * from customer limit 4"

+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
| customer_id | store_id | first_name | last_name | email                               | address_id | active | create_date         | last_update         |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
|           1 |        1 | MARY       | SMITH     | MARY.SMITH@sakilacustomer.org       |          5 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           2 |        1 | PATRICIA   | JOHNSON   | PATRICIA.JOHNSON@sakilacustomer.org |          6 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           3 |        1 | LINDA      | WILLIAMS  | LINDA.WILLIAMS@sakilacustomer.org   |          7 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           4 |        2 | BARBARA    | JONES     | BARBARA.JONES@sakilacustomer.org    |          8 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+

In [22]:
!mysql sakila -e "select * from customer_list limit 2"

+----+------------------+------------------+----------+--------------+----------------+---------------+--------+-----+
| ID | name             | address          | zip code | phone        | city           | country       | notes  | SID |
+----+------------------+------------------+----------+--------------+----------------+---------------+--------+-----+
|  1 | MARY SMITH       | 1913 Hanoi Way   | 35200    | 28303384290  | Sasebo         | Japan         | active |   1 |
|  2 | PATRICIA JOHNSON | 1121 Loja Avenue | 17886    | 838635286649 | San Bernardino | United States | active |   1 |
+----+------------------+------------------+----------+--------------+----------------+---------------+--------+-----+

In [23]:
!mysql sakila -e "select * from film limit 2"

+---------+------------------+------------------------------------------------------------------------------------------------------+--------------+-------------+----------------------+-----------------+-------------+--------+------------------+--------+----------------------------------+---------------------+
| film_id | title            | description                                                                                          | release_year | language_id | original_language_id | rental_duration | rental_rate | length | replacement_cost | rating | special_features                 | last_update         |
+---------+------------------+------------------------------------------------------------------------------------------------------+--------------+-------------+----------------------+-----------------+-------------+--------+------------------+--------+----------------------------------+---------------------+
|       1 | ACADEMY DINOSAUR | A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies     |         2006 |           1 |                 NULL |               6 |        0.99 |     86 |            20.99 | PG     | Deleted Scenes,Behind the Scenes | 2006-02-15 05:03:42 |
|       2 | ACE GOLDFINGER   | A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China |         2006 |           1 |                 NULL |               3 |        4.99 |     48 |            12.99 | G      | Trailers,Deleted Scenes          | 2006-02-15 05:03:42 |
+---------+------------------+------------------------------------------------------------------------------------------------------+--------------+-------------+----------------------+-----------------+-------------+--------+------------------+--------+----------------------------------+---------------------+

In [6]:
!mysql sakila -e "select * from film_actor limit 4"

+----------+---------+---------------------+
| actor_id | film_id | last_update         |
+----------+---------+---------------------+
|        1 |       1 | 2006-02-15 05:05:03 |
|        1 |      23 | 2006-02-15 05:05:03 |
|        1 |      25 | 2006-02-15 05:05:03 |
|        1 |     106 | 2006-02-15 05:05:03 |
+----------+---------+---------------------+

In [7]:
!mysql sakila -e "select * from film_category limit 4"

+---------+-------------+---------------------+
| film_id | category_id | last_update         |
+---------+-------------+---------------------+
|       1 |           6 | 2006-02-15 05:07:09 |
|       2 |          11 | 2006-02-15 05:07:09 |
|       3 |           6 | 2006-02-15 05:07:09 |
|       4 |          11 | 2006-02-15 05:07:09 |
+---------+-------------+---------------------+

In [8]:
!mysql sakila -e "select * from film_list limit 4"

+------+------------------+------------------------------------------------------------------------------------------------------+-------------+-------+--------+--------+------------------------------------------------------------------------------------------------------------------------------------------------+
| FID  | title            | description                                                                                          | category    | price | length | rating | actors                                                                                                                                         |
+------+------------------+------------------------------------------------------------------------------------------------------+-------------+-------+--------+--------+------------------------------------------------------------------------------------------------------------------------------------------------+
|    1 | ACADEMY DINOSAUR | A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies     | Documentary |  0.99 |     86 | PG     | PENELOPE GUINESS, LUCILLE TRACY, SANDRA PECK, JOHNNY CAGE, MENA TEMPLE, WARREN NOLTE, OPRAH KILMER, ROCK DUKAKIS, MARY KEITEL, CHRISTIAN GABLE |
|    2 | ACE GOLDFINGER   | A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China | Horror      |  4.99 |     48 | G      | CHRIS DEPP, SEAN GUINESS, MINNIE ZELLWEGER, BOB FAWCETT                                                                                        |
|    3 | ADAPTATION HOLES | A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory     | Documentary |  2.99 |     50 | NC-17  | NICK WAHLBERG, BOB FAWCETT, CAMERON STREEP, RAY JOHANSSON, JULIANNE DENCH                                                                      |
|    4 | AFFAIR PREJUDICE | A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank         | Horror      |  2.99 |    117 | G      | OPRAH KILMER, FAY WINSLET, KENNETH PESCI, SCARLETT DAMON, JODIE DEGENERES                                                                      |
+------+------------------+------------------------------------------------------------------------------------------------------+-------------+-------+--------+--------+------------------------------------------------------------------------------------------------------------------------------------------------+

In [9]:
!mysql sakila -e "select * from film_text limit 4"

+---------+------------------+------------------------------------------------------------------------------------------------------+
| film_id | title            | description                                                                                          |
+---------+------------------+------------------------------------------------------------------------------------------------------+
|       1 | ACADEMY DINOSAUR | A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies     |
|       2 | ACE GOLDFINGER   | A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China |
|       3 | ADAPTATION HOLES | A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory     |
|       4 | AFFAIR PREJUDICE | A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank         |
+---------+------------------+------------------------------------------------------------------------------------------------------+

In [10]:
!mysql sakila -e "select * from inventory limit 4"

+--------------+---------+----------+---------------------+
| inventory_id | film_id | store_id | last_update         |
+--------------+---------+----------+---------------------+
|            1 |       1 |        1 | 2006-02-15 05:09:17 |
|            2 |       1 |        1 | 2006-02-15 05:09:17 |
|            3 |       1 |        1 | 2006-02-15 05:09:17 |
|            4 |       1 |        1 | 2006-02-15 05:09:17 |
+--------------+---------+----------+---------------------+

In [11]:
!mysql sakila -e "select * from language limit 4"

+-------------+----------+---------------------+
| language_id | name     | last_update         |
+-------------+----------+---------------------+
|           1 | English  | 2006-02-15 05:02:19 |
|           2 | Italian  | 2006-02-15 05:02:19 |
|           3 | Japanese | 2006-02-15 05:02:19 |
|           4 | Mandarin | 2006-02-15 05:02:19 |
+-------------+----------+---------------------+

In [1]:
!mysql sakila -e "desc nicer_but_slower_film_list"

+-------------+------------------------------------+------+-----+---------+-------+
| Field       | Type                               | Null | Key | Default | Extra |
+-------------+------------------------------------+------+-----+---------+-------+
| FID         | smallint(5) unsigned               | YES  |     | 0       |       |
| title       | varchar(128)                       | YES  |     | NULL    |       |
| description | text                               | YES  |     | NULL    |       |
| category    | varchar(25)                        | NO   |     | NULL    |       |
| price       | decimal(4,2)                       | YES  |     | 4.99    |       |
| length      | smallint(5) unsigned               | YES  |     | NULL    |       |
| rating      | enum('G','PG','PG-13','R','NC-17') | YES  |     | G       |       |
| actors      | text                               | YES  |     | NULL    |       |
+-------------+------------------------------------+------+-----+---------+-------+

In [11]:
!mysql sakila -e "select * from nicer_but_slower_film_list limit 4"

+------+------------------+------------------------------------------------------------------------------------------------------+-------------+-------+--------+--------+------------------------------------------------------------------------------------------------------------------------------------------------+
| FID  | title            | description                                                                                          | category    | price | length | rating | actors                                                                                                                                         |
+------+------------------+------------------------------------------------------------------------------------------------------+-------------+-------+--------+--------+------------------------------------------------------------------------------------------------------------------------------------------------+
|    1 | ACADEMY DINOSAUR | A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies     | Documentary |  0.99 |     86 | PG     | Penelope Guiness, Lucille Tracy, Sandra Peck, Johnny Cage, Mena Temple, Warren Nolte, Oprah Kilmer, Rock Dukakis, Mary Keitel, Christian Gable |
|    2 | ACE GOLDFINGER   | A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China | Horror      |  4.99 |     48 | G      | Chris Depp, Sean Guiness, Minnie Zellweger, Bob Fawcett                                                                                        |
|    3 | ADAPTATION HOLES | A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory     | Documentary |  2.99 |     50 | NC-17  | Nick Wahlberg, Bob Fawcett, Cameron Streep, Ray Johansson, Julianne Dench                                                                      |
|    4 | AFFAIR PREJUDICE | A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank         | Horror      |  2.99 |    117 | G      | Oprah Kilmer, Fay Winslet, Kenneth Pesci, Scarlett Damon, Jodie Degeneres                                                                      |
+------+------------------+------------------------------------------------------------------------------------------------------+-------------+-------+--------+--------+------------------------------------------------------------------------------------------------------------------------------------------------+

In [13]:
!mysql sakila -e "select * from payment limit 4"

+------------+-------------+----------+-----------+--------+---------------------+---------------------+
| payment_id | customer_id | staff_id | rental_id | amount | payment_date        | last_update         |
+------------+-------------+----------+-----------+--------+---------------------+---------------------+
|          1 |           1 |        1 |        76 |   2.99 | 2005-05-25 11:30:37 | 2006-02-15 22:12:30 |
|          2 |           1 |        1 |       573 |   0.99 | 2005-05-28 10:35:23 | 2006-02-15 22:12:30 |
|          3 |           1 |        1 |      1185 |   5.99 | 2005-06-15 00:54:12 | 2006-02-15 22:12:30 |
|          4 |           1 |        2 |      1422 |   0.99 | 2005-06-15 18:02:53 | 2006-02-15 22:12:30 |
+------------+-------------+----------+-----------+--------+---------------------+---------------------+

In [14]:
!mysql sakila -e "select * from rental limit 4"

+-----------+---------------------+--------------+-------------+---------------------+----------+---------------------+
| rental_id | rental_date         | inventory_id | customer_id | return_date         | staff_id | last_update         |
+-----------+---------------------+--------------+-------------+---------------------+----------+---------------------+
|         1 | 2005-05-24 22:53:30 |          367 |         130 | 2005-05-26 22:04:30 |        1 | 2006-02-15 21:30:53 |
|         2 | 2005-05-24 22:54:33 |         1525 |         459 | 2005-05-28 19:40:33 |        1 | 2006-02-15 21:30:53 |
|         3 | 2005-05-24 23:03:39 |         1711 |         408 | 2005-06-01 22:12:39 |        1 | 2006-02-15 21:30:53 |
|         4 | 2005-05-24 23:04:41 |         2452 |         333 | 2005-06-03 01:43:41 |        2 | 2006-02-15 21:30:53 |
+-----------+---------------------+--------------+-------------+---------------------+----------+---------------------+

In [15]:
!mysql sakila -e "select * from sales_by_film_category limit 4"

+-----------+-------------+
| category  | total_sales |
+-----------+-------------+
| Sports    |     5314.21 |
| Sci-Fi    |     4756.98 |
| Animation |     4656.30 |
| Drama     |     4587.39 |
+-----------+-------------+

In [32]:
!mysql sakila -e "select * from sales_by_store limit 1"

+---------------------+--------------+-------------+
| store               | manager      | total_sales |
+---------------------+--------------+-------------+
| Woodridge,Australia | Jon Stephens |    33726.77 |
+---------------------+--------------+-------------+

In [8]:
!mysql sakila -e "desc staff"

+-------------+----------------------+------+-----+-------------------+-----------------------------------------------+
| Field       | Type                 | Null | Key | Default           | Extra                                         |
+-------------+----------------------+------+-----+-------------------+-----------------------------------------------+
| staff_id    | tinyint(3) unsigned  | NO   | PRI | NULL              | auto_increment                                |
| first_name  | varchar(45)          | NO   |     | NULL              |                                               |
| last_name   | varchar(45)          | NO   |     | NULL              |                                               |
| address_id  | smallint(5) unsigned | NO   | MUL | NULL              |                                               |
| picture     | blob                 | YES  |     | NULL              |                                               |
| email       | varchar(50)          | YES  |     | NULL              |                                               |
| store_id    | tinyint(3) unsigned  | NO   | MUL | NULL              |                                               |
| active      | tinyint(1)           | NO   |     | 1                 |                                               |
| username    | varchar(16)          | NO   |     | NULL              |                                               |
| password    | varchar(40)          | YES  |     | NULL              |                                               |
| last_update | timestamp            | NO   |     | CURRENT_TIMESTAMP | DEFAULT_GENERATED on update CURRENT_TIMESTAMP |
+-------------+----------------------+------+-----+-------------------+-----------------------------------------------+

In [10]:
!mysql sakila -e "select staff_id, first_name, last_name, email from staff limit 1"

+----------+------------+-----------+------------------------------+
| staff_id | first_name | last_name | email                        |
+----------+------------+-----------+------------------------------+
|        1 | Mike       | Hillyer   | Mike.Hillyer@sakilastaff.com |
+----------+------------+-----------+------------------------------+

In [20]:
!mysql sakila -e "select * from staff_list limit 1"

+----+--------------+-------------------+----------+-------------+------------+---------+-----+
| ID | name         | address           | zip code | phone       | city       | country | SID |
+----+--------------+-------------------+----------+-------------+------------+---------+-----+
|  1 | Mike Hillyer | 23 Workhaven Lane |          | 14033335568 | Lethbridge | Canada  |   1 |
+----+--------------+-------------------+----------+-------------+------------+---------+-----+

In [21]:
!mysql sakila -e "select * from store limit 1"

+----------+------------------+------------+---------------------+
| store_id | manager_staff_id | address_id | last_update         |
+----------+------------------+------------+---------------------+
|        1 |                1 |          1 | 2006-02-15 04:57:12 |
+----------+------------------+------------+---------------------+

In [ ]:
# select PG-rated films and order by length, ascending

In [28]:
!mysql sakila -e "select title from film where rating = 'PG' order by length"

+------------------------+
| title                  |
+------------------------+
| IRON MOON              |
| SHANGHAI TYCOON        |
| SUSPECTS QUILLS        |
| HEAVEN FREEDOM         |
| PELICAN COMFORTS       |
| RUSH GOODFELLAS        |
| HURRICANE AFFAIR       |
| LION UNCUT             |
| MUPPET MILE            |
| PILOT HOOSIERS         |
| CHAMPION FLATLINERS    |
| FRISCO FORREST         |
| TROJAN TOMORROW        |
| MOVIE SHAKESPEARE      |
| TEQUILA PAST           |
| COAST RAINBOW          |
| GOODFELLAS SALUTE      |
| DAWN POND              |
| JEKYLL FROGMEN         |
| OKLAHOMA JUMANJI       |
| SUPER WYOMING          |
| LEGEND JEDI            |
| JERSEY SASSY           |
| MOCKINGBIRD HOLLYWOOD  |
| ROOM ROMAN             |
| CHINATOWN GLADIATOR    |
| POLISH BROOKLYN        |
| TROUBLE DATE           |
| MILE MULAN             |
| LOVELY JINGLE          |
| PATRIOT ROMAN          |
| CHARADE DUFFEL         |
| EGG IGBY               |
| LADY STAGE             |
| TOMATOES HELLFIGHTERS  |
| HOLLYWOOD ANONYMOUS    |
| WEDDING APOLLO         |
| TEMPLE ATTRACTION      |
| FICTION CHRISTMAS      |
| BEDAZZLED MARRIED      |
| MUSKETEERS WAIT        |
| MODERN DORADO          |
| RAINBOW SHOCK          |
| SILVERADO GOLDFINGER   |
| HELLFIGHTERS SIERRA    |
| NEWTON LABYRINTH       |
| WIZARD COLDBLOODED     |
| WATCH TRACY            |
| LOSER HUSTLER          |
| PEAK FOREVER           |
| SEA VIRGIN             |
| SHAWSHANK BUBBLE       |
| FROST HEAD             |
| MOON BUNCH             |
| UPTOWN YOUNG           |
| BLACKOUT PRIVATE       |
| EGYPT TENENBAUMS       |
| LOLA AGENT             |
| STAGE WORLD            |
| WASTELAND DIVINE       |
| ACADEMY DINOSAUR       |
| TREATMENT JEKYLL       |
| SECRET GROUNDHOG       |
| FATAL HAUNTED          |
| TITANS JERK            |
| OPPOSITE NECKLACE      |
| BILL OTHERS            |
| SHANE DARKNESS         |
| FULL FLATLINERS        |
| HORN WORKING           |
| DRUMS DYNAMITE         |
| EXPENDABLE STALLION    |
| INVASION CYCLONE       |
| BOUND CHEAPER          |
| SENSIBILITY REAR       |
| FRENCH HOLIDAY         |
| PET HAUNTING           |
| SABRINA MIDNIGHT       |
| BEHAVIOR RUNAWAY       |
| PIRATES ROXANNE        |
| PUNK DIVORCE           |
| CIDER DESIRE           |
| BOILED DARES           |
| PINOCCHIO SIMON        |
| CROW GREASE            |
| WON DARES              |
| DALMATIONS SWEDEN      |
| GASLIGHT CRUSADE       |
| PRIVATE DROP           |
| EFFECT GLADIATOR       |
| HATE HANDICAP          |
| MONSTER SPARTACUS      |
| PARTY KNOCK            |
| SNATCH SLIPPER         |
| WONDERLAND CHRISTMAS   |
| AMADEUS HOLY           |
| LEGALLY SECRETARY      |
| CARRIE BUNCH           |
| CHAINSAW UPTOWN        |
| CHASING FIGHT          |
| SUGAR WONKA            |
| SUPERFLY TRIP          |
| OSCAR GOLD             |
| POTTER CONNECTICUT     |
| INSTINCT AIRPORT       |
| WORDS HUNTER           |
| GRAFFITI LOVE          |
| MAGIC MALLRATS         |
| RESURRECTION SILVERADO |
| JAWBREAKER BROOKLYN    |
| OTHERS SOUP            |
| PATHS CONTROL          |
| ARIZONA BANG           |
| BRANNIGAN SUNRISE      |
| DANGEROUS UPTOWN       |
| CHICKEN HELLFIGHTERS   |
| MIGHTY LUCK            |
| HOLES BRANNIGAN        |
| JEDI BENEATH           |
| PAPI NECKLACE          |
| UNFORGIVEN ZOOLANDER   |
| MAJESTIC FLOATS        |
| OPEN AFRICAN           |
| NECKLACE OUTBREAK      |
| SKY MIRACLE            |
| VOLUME HOUSE           |
| BUCKET BROTHERHOOD     |
| MALLRATS UNITED        |
| DREAM PICKUP           |
| MONEY HAROLD           |
| WALLS ARTIST           |
| ALASKA PHANTOM         |
| BRINGING HYSTERICAL    |
| CRAZY HOME             |
| SQUAD FISH             |
| ARSENIC INDEPENDENCE   |
| GRIT CLOCKWORK         |
| POLLOCK DELIVERANCE    |
| SLEEPY JAPANESE        |
| MAIDEN HOME            |
| LIAISONS SWEET         |
| STEERS ARMAGEDDON      |
| DISCIPLE MOTHER        |
| CHILL LUCK             |
| FERRIS MOTHER          |
| PRESIDENT BANG         |
| COWBOY DOOM            |
| MOURNING PURPLE        |
| RANGE MOONWALKER       |
| SLUMS DUCK             |
| FIREBALL PHILADELPHIA  |
| TELEGRAPH VOYAGE       |
| NIGHTMARE CHILL        |
| ALI FOREVER            |
| HYSTERICAL GRAIL       |
| CAROL TEXAS            |
| CENTER DINOSAUR        |
| TWISTED PIRATES        |
| WAGON JAWS             |
| SANTA PARIS            |
| TADPOLE PARK           |
| MULHOLLAND BEAST       |
| TOOTSIE PILOT          |
| FOOL MOCKINGBIRD       |
| SECRETARY ROUGE        |
| STOCK GLASS            |
| GABLES METROPOLIS      |
| MASSAGE IMAGE          |
| OLEANDER CLUE          |
| BIRCH ANTITRUST        |
| EVERYONE CRAFT         |
| QUEEN LUKE             |
| MOTIONS DETAILS        |
| MURDER ANTITRUST       |
| DYING MAKER            |
| AGENT TRUMAN           |
| KENTUCKIAN GIANT       |
| TRADING PINOCCHIO      |
| TRAMP OTHERS           |
| NORTHWEST POLISH       |
| GLADIATOR WESTWARD     |
| TALENTED HOMICIDE      |
| PATTON INTERVIEW       |
| SPLASH GUMP            |
| CYCLONE FAMILY         |
| GREEK EVERYONE         |
| SWEDEN SHINING         |
| MANCHURIAN CURTAIN     |
| RIDER CADDYSHACK       |
| BORN SPINAL            |
| STAR OPERATION         |
| MONSOON CAUSE          |
| RECORDS ZORRO          |
| WORST BANGER           |
+------------------------+

In [ ]:
# creating a new record for "Walt Whitman" in the actor table

In [20]:
!mysql sakila -e "insert into actor (actor_id, first_name, last_name) values (201, 'Walt', 'Whitman')"

In [ ]:
# checking new record was successfully inserted

In [ ]:
!mysql sakila -e "select first_name, last_name from actor where actor_id = 201"

In [ ]:
# creating Update statement updating zip code for Mike Hillyer from staff_list table

In [ ]:
!mysql sakila -e "alter table staff_list where SID = '201' set zip code = '78747"

In [ ]:
# creating delete statement to delete "Walt Whitman" record from actor table

In [ ]:
!mysql sakila -e "delete from actor (actor_id, first_name, last_name) values(201, 'Walt', 'Whitman')"